@import url(https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap);
@-webkit-keyframes down {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -50px, 0);
            transform: translate3d(0, -50px, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
}
@keyframes down {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -50px, 0);
            transform: translate3d(0, -50px, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
}

@-webkit-keyframes up {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 50px, 0);
            transform: translate3d(0, 50px, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
}

@keyframes up {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 50px, 0);
            transform: translate3d(0, 50px, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

tml, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  min-height: 100vh;
  background-color: #232324;
}

img {
  max-width: 100%;
  display: block;
}

a {
  text-decoration: none;
}

.container {
  max-width: 1024px;
  margin: 0 auto;
}

.btn {
  background-color: #8752CC;
  color: #fff;
  font-size: 1em;
  font-weight: 700;
  border: 0;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  outline: none;
  -webkit-transition: .4s ease;
  transition: .4s ease;
}

.btn:hover {
  background-color: #7b46c0;
}

.btn-search {
  border: 0;
  width: 25px;
  height: 25px;
  background-color: transparent;
  background-image: url(/public/assets/search.svg);
  background-repeat: no-repeat;
  margin-left: 10px;
  cursor: pointer;
  outline: none;
  -webkit-transition: .4s ease;
  transition: .4s ease;
  opacity: .3;
}

.btn-search:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

@media screen and (max-width: 767px) {
  .btn-search {
    margin-right: 20px;
    background-size: cover;
  }
}

.search {
  display: none;
  position: fixed;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: #232324;
}

.search__image {
  margin-bottom: 50px;
  -webkit-animation: down .8s ease forwards;
          animation: down .8s ease forwards;
}

.search__input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-animation: up .8s ease forwards;
          animation: up .8s ease forwards;
  margin-bottom: 50px;
}

.search__input input {
  background: #232324;
  color: #B2B2B2;
  text-align: center;
  border: 0;
  border-bottom: 4px solid #8752CC;
  font-size: 1.125em;
  padding: 10px 20px;
  margin-bottom: 30px;
  outline: none;
}

.search.active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.loader {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 60vh;
}

.loader__spinner {
  border: 8px solid rgba(221, 221, 221, 0.1);
  border-left-color: #8752CC;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  -webkit-animation: spin 1s linear infinite;
          animation: spin 1s linear infinite;
}

.loader.hidden {
  display: none;
}

@-webkit-keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 30px 10px;
  position: relative;
}

.header img {
  max-width: 150px;
}

@media screen and (max-width: 767px) {
  .header img {
    padding: 10px;
  }
}

.header__input input {
  background: #232324;
  color: #B2B2B2;
  text-align: center;
  border: 0;
  border-bottom: 4px solid #8752CC;
  font-size: 1em;
  padding: 10px 20px;
  margin-bottom: 30px;
  outline: none;
}

@media screen and (max-width: 767px) {
  .header__input input {
    position: absolute;
    display: none;
    width: 100%;
    bottom: -60px;
    left: 0;
    -webkit-animation: down 1s ease forwards;
            animation: down 1s ease forwards;
  }
}

.user {
  max-width: 850px;
  display: none;
  -ms-grid-columns: minmax(100px, 170px) minmax(200px, auto) minmax(70px, 150px);
      grid-template-columns: minmax(100px, 170px) minmax(200px, auto) minmax(70px, 150px);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #B2B2B2;
  margin-top: 50px;
  -webkit-animation: down 1s ease forwards;
          animation: down 1s ease forwards;
}

@media screen and (max-width: 767px) {
  .user {
    gap: 30px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 30px;
  }
}

.user__avatar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 50%;
  overflow: hidden;
}

@media screen and (max-width: 767px) {
  .user__avatar {
    max-width: 180px;
  }
}

.user__profile {
  padding: 0 30px;
}

.user__profile h2 {
  font-size: 1.5em;
  line-height: 1.66667em;
  font-weight: 700;
  color: #8752CC;
}

@media screen and (max-width: 767px) {
  .user__profile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.user__profile > p {
  margin-bottom: 20px;
}

.user__location {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  margin-bottom: 8px;
}

@media screen and (max-width: 767px) {
  .user__location {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.user__location .iconify {
  color: #8752CC;
}

.user__data {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
}

.user__data .iconify {
  color: #8752CC;
}

.user__branchs {
  background-color: #201F1F;
  text-align: center;
  color: #B2B2B2;
  padding: 20px 10px;
}

.user__branchs h3 {
  margin-bottom: 10px;
}

.user__total-branchs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 1.375em;
  gap: 10px;
}

.user__total-branchs .iconify {
  color: #8752CC;
}

.user.active {
  display: -ms-grid;
  display: grid;
}

@media screen and (max-width: 767px) {
  .user.active {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.repositories {
  display: none;
  gap: 20px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #B2B2B2;
  margin-top: 100px;
  -webkit-animation: up 1s ease forwards;
          animation: up 1s ease forwards;
}

@media screen and (max-width: 767px) {
  .repositories {
    margin-top: 30px;
  }
}

.repositories__repositorie {
  width: 320px;
  min-height: 180px;
  overflow: hidden;
  padding: 20px;
  background-color: #201F1F;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (max-width: 767px) {
  .repositories__repositorie {
    width: 90vw;
  }
}

.repositories__repositorie h2 {
  font-size: 1.125em;
  font-weight: 700;
  margin-bottom: 10px;
}

.repositories__repositorie p {
  font-size: 0.875em;
  line-height: 1.28571em;
}

.repositories__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  font-size: 1em;
}

.repositories__info .iconify {
  color: #8752CC;
}

.repositories.active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer {
  width: 100%;
  padding: 20px;
  background-color: #201F1F;
  margin-top: 30px;
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #B2B2B2;
}

.footer ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
}

.footer .iconify {
  color: #B2B2B2;
  width: 20px;
  height: 20px;
}

.footer.active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
/*# sourceMappingURL=main.css.map */