html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  min-height: 100vh;
  background-color: $background-color;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

img {
  max-width: 100%;
  display: block;
}

a {
  text-decoration: none;
}