.btn {
  background-color: $purple-color;
  color: #fff;
  font-size: em(16);
  font-weight: 700;
  border: 0;
  border-radius: 5px;
  padding: $gap-smaller $gap-small;
  cursor: pointer;
  outline: none;
  transition: .4s ease;
  &:hover {
    background-color: $purple-color-dark;
  }

}

.btn-search {
  border: 0;
  width: 25px;
  height: 25px;
  background-color: transparent;
  background-image: url(/public/assets/search.svg);
  background-repeat: no-repeat;
  margin-left: 10px;
  cursor: pointer;
  outline: none;
  transition: .4s ease;
  opacity: .3;
  &:hover {
    transform: scale(1.1);
  }
  @include device(mobile) {
    margin-right: $gap-small;
    background-size: cover;
  }
}