.header {
  display: flex;
  justify-content: space-between;
  padding: $gap-medium 0;
  &__input input {
      background: $background-color;
      color: $gray-color;
      text-align: center;
      border: 0;
      border-bottom: 4px solid $purple-color;
      font-size: em(18);
      padding: $gap-smaller $gap-small;
      margin-bottom: $gap-medium;
      outline: none;
    }
  
}