.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: $gap-medium $gap-smaller;
  position: relative;
  width: 100%;
  & img {
    max-width: 150px;
    @include device(mobile) {
      padding: $gap-smaller;
    }
  }
  &__back {
    display: inline-block;
    & .iconify {
      color: $gray-color;
      width: 30px;
      height: 30px;
    }
  }
  
}