.repositories {
  display: none;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  color: $gray-color;
  margin-top: $gap-xlarger;
  animation: up 1s ease forwards;
  @include device(mobile) {
    margin-top: $gap-medium;
  }

  
  &__repositorie {
    width: 320px;
    min-height: 180px;
    overflow: hidden;
    padding: $gap-small;
    background-color: $dark-color;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   transition: ease .4s;

   @include device(mobile) {
    width: 90vw;
  }
  
    & h2 {
      font-size: em(18);
      font-weight: 700;
      margin-bottom: $gap-smaller;
      & a {
        color: $gray-color;
      }
    }
    & p {
      font-size: em(14);
      line-height: em(18,14);
    }
    &[data-anime="scroll"] {
      opacity: 0;
      transform: translate3d(-30px, -30px, 0);
      transition: .5s;
    }
    
    &[data-anime="scroll"].ativo {
      opacity: 1;
      transform: translate3d(0, 0, 0);
    }
    
  }
  
  &__info {
    display: flex;
    gap: 10px;
    font-size: em(14);
    align-items: center;
    & .iconify {
      transition: ease .4s;
      color: $purple-color;
    }
    & a {
      display: flex;
      gap: 10px;
      color: $gray-color;
      & .iconify {
        transition: ease .4s;
        color: $purple-color;
      }
    }
    
  }
  &.active {
    display: flex;
  }
}