.search {
  display: none;
  position: fixed;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: $background-color;
  
  &__image {
    margin-bottom: $gap-larger;
    animation: down .8s ease forwards;
  }
  &__input {
    display: flex;
    flex-direction: column;
    animation: up .8s ease forwards;
    margin-bottom: $gap-larger;
    & input {
      background: $background-color;
      color: $gray-color;
      text-align: center;
      border: 0;
      border-bottom: 4px solid $purple-color;
      font-size: em(18);
      padding: $gap-smaller $gap-small;
      margin-bottom: $gap-medium;
      outline: none;
    }
  }
  &.active {
    display: flex;
  }
}

.loader {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60vh;
  &__spinner {
    border: 8px solid rgba(221, 221, 221, 0.1);
    border-left-color: $purple-color;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite;
  }
  &.hidden {
    display: none;
  }
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
