.user {
  max-width: 850px;
  display: none;
  grid-template-columns: minmax(100px, 170px) minmax(200px, auto)  minmax(70px, 150px);
  justify-content: center;
  align-items: center;
  color: $gray-color;
  margin-top: $gap-larger;
  animation: down 1s ease forwards;
  @include device(mobile) {
    gap: 30px;
    flex-direction: column;
    margin-top: $gap-medium;
  }
  &__avatar {
    display: flex;
    justify-content: center;
    border-radius: 50%;
    overflow: hidden;
    @include device(mobile) {
      max-width: 180px;
    }
  }
  &__profile {
    padding: 0 $gap-medium;
    & h2 {
      font-size: em(24);
      line-height: em(40, 24);
      font-weight: 700;
      color: $purple-color;
    }
    @include device(mobile) {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    & > p {
      margin-bottom: $gap-small;
    }
  }
  &__location {
    display: flex;
    gap: 10px;
    margin-bottom: 8px;
    @include device(mobile) {
      flex-wrap: wrap;
      justify-content: center;
    }
    & .iconify {
      color: $purple-color;
    }
  }

  &__data {
    display: flex;
    gap: 10px;
    & .iconify {
      color: $purple-color;
    }
  }
  &__branchs {
    background-color: $dark-color;
    text-align: center;
    color: $gray-color;
    padding: $gap-small $gap-smaller;

    & h3 {
      margin-bottom: $gap-smaller;
    }
  }
  &__total-branchs {
    display: flex;
    justify-content: center;
    font-size: em(22);
    gap: 10px;
    & .iconify {
      color: $purple-color;
    }
  }
  &.active {
    display: grid;
    @include device(mobile) {
      display: flex;
    }
  }
}
